body
{
   background-color : #f5e6cc;
   margin : 0;
   font-family : "Otomanopee One", sans-serif;
}

h1, .headend
{
   color : #f5e6cc;
   text-shadow : -1px 2px 0 #000, 2px 1px 0 #000, 1px -2px 0 #000, -2px -1px 0 #000;
}

iframe
{
   width : 100%;
   height : 100%;
}

.headend, .m_v_title, .m_v_card i, marquee, .heading, .test_name  { font-size : 2em; }

.m_v_body, .test_body{ font-size : 1.5em; }

.container { margin : 4% auto; }

.m_v_card 
{
   text-align : center;
   padding : 1%;
   border : 3px solid #36454f;
   width : 29em;
}

.m_v_title, .m_v_card i
{
   color : #36454f;
   text-shadow : -1px 2px 0 whitesmoke, 2px 1px 0 whitesmoke, 1px -2px 0 whitesmoke, -2px -1px 0 whitesmoke;
}

.heading 
{
   text-align : center;
   color : #b109f3;
   text-shadow : -2px 4px 0 whitesmoke , 4px 2px 0 whitesmoke , 2px -4px 0 whitesmoke , -4px -2px 0 whitesmoke;
}

.testimony
{
   font-size : 0.8em;
   padding : 2%;
   border : 4px solid #36454f;
   width : 25%;
   margin : 1%;
   box-shadow : rgba(0, 0, 0, 0.25) 0px 40px 45px, rgba(0, 0, 0, 0.12) 0px -12px 24px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 7px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card { width : 30%; }

.offers
{
   width : 29%;
   color : #36454f;
   margin : 1%;
   padding : 1%;
   text-align : center;
   box-shadow : rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.offers:nth-child(even)
{
   background-color : #fccd04;
}

.offers:nth-child(odd)
{
   background-color : #17e9e0;
}

.offer_title
{
   width : 10em;
   margin : 5% auto;
   border : 4px solid;
   border-radius : 20px;
   font-size : 1.35em;
}

.offers:nth-child(odd) .offer_icon, .offers:nth-child(odd) .offer_title
{
   background-color : #fccd04;
}

.offers:nth-child(even) .offer_icon, .offers:nth-child(even) .offer_title
{
   background-color : #17e9e0;
}

.offer_content
{
   padding : 2.5%;
   font-size : 1.25em;
}

.offer_icon 
{
   font-size : 1.75em;
   width : 1.75em;
   margin : auto;
   text-align : center;
   padding : 0.2em;
   border-radius : 50%;
   border : 4px solid #36454f;
}

#what_we_offer
{
   display : flex;
   justify-content : center;
   flex-wrap : wrap;
   margin-top : 2%;
}

#nav 
{
   overflow : hidden;
   top : 0;
   left : 0;
   background-color : #a64ac9;
   color : #fccd04;
   text-align : center;
   font-size : 2.5em;
   text-shadow : -1px 2px 0 #000, 2px 1px 0 #000, 1px -2px 0 #000, -2px -1px 0 #000;
   padding : 1%;
}

#buttons 
{
   display : flex;
   justify-content : center;
   flex-wrap : wrap;
}

#buttons a 
{
   text-align : center;
   width : 10em;
   font-size : 1.5em;
   padding : 1em;
   text-decoration : none;
   margin : 0.5em;
   border : 3px solid #36454f;
   border-radius : 45px;
   box-shadow : 10px 12px;
   animation : blink 5.0s linear infinite;
   -webkit-animation : blink 5.0s linear infinite;
   -moz-animation : blink 5.0s linear infinite;
   -ms-animation : blink 5.0s linear infinite;
   -o-animation : blink 5.0s linear infinite;
}

#buttons a:active 
{
   box-shadow : 0 5px;
   transform : translateY(4px);
}

#m_v 
{
   display : flex;
   flex-wrap : wrap;
   justify-content : center;
}

#testimonials
{
   display : flex;
   justify-content : center;
   flex-wrap : wrap;
}

#admission 
{
   height : 375px;
   width : 100%;
   background : url(images/admission.png) center repeat-x;
   background-size : auto 100%;
}

#end 
{
   margin-top : 5%;
   padding : 1%;
   display : flex;
   justify-content : space-around;
   color : whitesmoke;
   font-size : 175%;
   background-color : #a64ac9;
}

#end a
{
   text-decoration : none;
   color : whitesmoke;
}

#copyright
{
   text-align : center;
   background-color : #36454f;
   color : #f5e6cc;
   font-size : 175%;
}

#copyright a
{
   color : #fccd04;
   text-decoration : none;
}

@keyframes blink 
{
   0% 
   {
      background-color : #fccd04;
      color : #36454f;
   }
   25% 
   { 
      background-color : #a64ac9; 
      color : #fccd04;
   }
   50% 
   { 
      background-color : #a64ac9; 
      color : #fccd04;
   }
   75% 
   { 
      background-color : #fccd04;
      color : #36454f;
   }
   100% 
   { 
      background-color : #fccd04;
      color : #36454f;
   }
}

@-webkit-keyframes blink 
{
   0% 
   {
      background-color : #fccd04;
      color : #36454f; 
   }
   25% 
   { 
      background-color : #a64ac9; 
      color : #fccd04;
   }
   50% 
   { 
      background-color : #a64ac9; 
      color : #fccd04;
   }
   75% 
   { 
      background-color : #fccd04;
      color : #36454f; 
   }
   100% 
   { 
      background-color : #fccd04;
      color : #36454f; 
   }
}

@media screen and (max-width: 1500px)
{
   #nav { font-size : 2em; }

   .m_v_card { width : 21em; }

   .headend, .m_v_title, .m_v_card i, marquee, .heading, .test_name, .offer_icon  { font-size : 1.5em; }

   .offer_icon { width : 1.5em; }

   .m_v_body, .test_body, .offer_content { font-size : 1em; }

   #buttons a 
   {
      padding : 0.95em;
      font-size : 1em;
      box-shadow : 5px 7px;
   }

   .offers { margin : 0.5%; }

   #end, #copyright { font-size : 125%; }

   #admission { height : 336px; }

   .offer_title { font-size : 1.2em; }
}

@media screen and (max-width: 1100px)
{
   #nav, .test_name, .headend { font-size : 1.5em;}

   .m_v_card { width : 15em;}

   .m_v_title, .m_v_card i, marquee, .heading, .test_body, .offer_icon { font-size : 1em; }
   
   .m_v_body, .offer_content { font-size : 0.75em; }

   #end, #copyright { font-size : 90%; }

   #testimonials { font-size : 70%; }

   .testimony 
   {
      padding: 1%;
      width: 29%;
      margin: 0.5%;
   }

   #admission { height : 250px; }

   .offer_title, #buttons { font-size : 0.89em; }

   #buttons a, .m_v_card { border-width : 2px; }

   #buttons a
   {
      box-shadow : 4px 8px;
      padding : 2%;
   }
}

@media screen and (max-width: 800px)
{
   #nav, .test_name { font-size : 1em; }

   .m_v_card { width : 10em; }

   .m_v_title, .m_v_card i, marquee, .heading, .test_body, .offer_icon, #copyright { font-size : 0.75em; }

   .offer_icon, .testimony, .offer_title { border-width : 2px; }
   
   .m_v_body, .offer_content { font-size : 0.5em; }

   .offer_title, #buttons { font-size : 0.6em; }

   #admission { height: 190px; }

   #end, #testimonials { font-size: 75%; }
}

@media screen and (max-width: 550px)
{
   #nav, .test_name { font-size : 1.5em; }

   .m_v_card { width : 100%; }

   .m_v_title, .m_v_card i, marquee, #buttons, .heading, .test_body, .offer_icon { font-size : 1em; }
   
   .m_v_body, .offer_content, .offer_title { font-size : 0.75em; }

   .offer_title, .offers { margin : 1% auto; }

   .container { margin-top : 10%; }

   .testimony 
   {
      padding : 5%;
      width : 75%;
      margin : 2.5%;
      border-end-start-radius : 16%;
   } 

   .card, .offers { width : 97%; }

   #admission { height : 283px; }

   #end { flex-wrap : wrap; }
}

@media screen and (max-width: 400px)
{
   #nav, .test_name{ font-size : 1.25em;}

   .m_v_card { width : 100%; }

   .test_body { font-size : 1.5em; }

   .test_name { font-size : 2em; }
   
   #admission { height : 249px; }

   #testimonials { font-size : 45%; }

   #copyright { font-size : 0.65em; }

   #buttons a 
   { 
      width : 7.75em;
      font-size : 0.9em;
   }
}
